* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
html,body{
    height: 100%;
}
.page-product{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 180vh;
    width: 100vw;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
.page-product .page-product-wrapper{
  height: 80%;
  width: 80%;
  box-shadow: 0 0 2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}





.slides{
  margin-top:100px;
}
.slidershow-container{
  width: 50%;
  position: relative;
  margin: auto;
}
.prev,
.next{
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
  background-color: rgba(0,0,0,0.8);
}
.text{
  color:#f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active{
  background-color: #717171;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration:1.5s;
  animation-name: fade;
  animation-duration:1.5s;
}
.thumbnail-container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnail img {
  width: 50px;
}

.thumbnail.active {
  border-color: #717171;
}
@-webkit-keyframes fade{
  from{ opacity: 4; }
  to{ opacity: 1; }
}

@keyframes fade{
  from{ opacity: 4; }
  to{ opacity: 1; }
}








.page-product .container-button__buy button{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border: none;
    color: #000;
    z-index: 1;
}
.page-product .container-button__buy button::after{
     position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.page-product .container-button__buy button::hover{
    color: #000;
}

.page-product .container-button__buy button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .page-product .container-button__buy button:active {
    top: 2px;
  }
  .page-product .second-block{
    display: flex;
    flex-wrap: wrap;
  }
  .page-product .second-block .img-wrapper{
    height: 400px;
    width: 300px;
  }
  .page-product .second-block .img-wrapper img{
    width: 100%;
    height: 100%;
  }
.size-box{
  width: 40px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.size-box.active {
  background-color: black;
  color: #fff;
}
