

<body>
    <link rel="stylesheet" href="productPageStyle.css">
    <div class="page-product">
        <div class="first-block">
            <div class="img-container">
                <img src="https://cdn.aboutstatic.com/file/images/e47698a3bb3efe67bee078389bb368a8.jpg?quality=75&height=1067&width=800">
                <img src="https://cdn.aboutstatic.com/file/images/ae0eede3ca8ede7c7e8b41973636552b.jpg?quality=75&height=1067&width=800" alt="" srcset="">
            </div>
            <div class="choice-buy">
                <div class="firm-logo">
                    <img src="https://cdn.aboutstatic.com/file/81a472c98d5d53370e2dc3b01adff254.jpg?quality=75&trim=1&height=550&width=550" alt="">
                </div>
                <div class="price">
                    $43.90
                </div>
                <div class="size-selection">
    
                </div>
                <div class="container-button__buy">
    
                </div>
                <div class="short-info">
    
                </div>
            </div>
        </div>
        <div class="second-block">
            <div class="info-container">
                <div class="product-description">
    
                </div>
                <div class="icon-discription">
    
                </div>
            </div>
            <div class="img-wrapper">
    
            </div>
        </div>
        <script src="product.js"></script>
    </div>
</body>
