.choice-inner img {
  height: 100%;
  width: auto;
}
.choice-inner{
  display: inline-block;
  height: 65%;
  width: auto;
  animation: 10s inner infinite linear;
  
}
.choice{
  white-space: nowrap;
  overflow: hidden;
  height: 65%;
  display: flex;
  align-items: center;
}
@keyframes inner{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}